<div class="margin">
  <mat-list>
    <mat-list-item *ngFor="let menuEntry of partyState.menuEntries; last as last" class="max-width">
      <div class="big">
        <div>
          {{findMenuNameById(menuEntry.menuId)}}
        </div>
        <div>
          Quantity: {{menuEntry.quantity}}
        </div>
      </div>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
  <button mat-raised-button color="accent" *ngIf="party.leaderId === user.id" (click)="toOrdered();">Ordered</button>
</div>
