<div>
  <mat-list>
    <mat-list-item *ngFor="let party of parties; last as last">
      <app-lobby-list-item [party]="party" [joinedPartyId]="joinedPartyId" (joinParty)="joinParty($event);"
                           (navigateToParty)="navigateToParty();">
      </app-lobby-list-item>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
  <div class="fixed">
    <button mat-mini-fab color="accent" *ngIf="!joinedPartyId" (click)="showPartyCreateDialog();">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
