.align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.menus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  max-height: 40vh;
  width: 100%;
}

.menu {
  margin-bottom: 5px;
}
