<div>
  <mat-radio-group class="menus" [(ngModel)]="chosenMenu">
    <mat-radio-button class="radio-button" *ngFor="let menu of menus" [value]="menu">
      {{menu.name}}, Price: {{menu.price}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="align">
    <div>
      Amount: <input type="number" [(ngModel)]="quantity" min="1" max="100" />
    </div>
    <button mat-button color="primary" (click)="addRequest()">Add</button>
    <button mat-button color="primary" (click)="cancelRequest()">Cancel</button>
  </div>
</div>
