version: '3'

services:
  redis:
    image: redis:4-alpine
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data

  backend:
    build: .
    depends_on:
      - redis
    ports:
      - 127.0.0.1:8000:8000
    volumes:
      - /srv/moyobob/backend/db:/app/db

volumes:
  redis-data:
