<div *ngIf="party" class="main">
  <div style="width: 100%; text-align: center;">
    <h2>{{party.name}}</h2>
    <div class="party-info">
      <span style="text-align: left;" class="party-info-item">{{party.location}}</span>
      <div class="party-info-item right-align">
        <div class="member-count right-align">
          <mat-icon color="primary" class="right-align">account_circle</mat-icon>
          <span class="right-align">{{party.memberCount}}</span>
        </div>
      </div>
    </div>
  </div>
  <div [ngSwitch]="partyState.phase">
    <app-party-choosing-restaurant *ngSwitchCase="0" [party]="party" [partyState]="partyState" [user]="user"
      [restaurants]="restaurants" (votingEvent)="voteRestaurant($event)" (toNextState)="toChoosingMenu($event);"></app-party-choosing-restaurant>
    <app-party-choosing-menu *ngSwitchCase="1" [partyState]="partyState" [party]="party" [user]="user" [menus]="menus"
      [members]="members" (addMenu)="addMenu($event);" (updateMenu)="updateMenu($event);" (toNextState)="toOrdering();"
      (confirm)="toggleConfirm();">
    </app-party-choosing-menu>
    <app-party-ordering *ngSwitchCase="2" [party]="party" [menus]="menus" [user]="user" [partyState]="partyState"
      (toNextState)="toOrdered($event);"></app-party-ordering>
    <app-party-ordered *ngSwitchCase="3" [party]="party" [user]="user" [members]="members" (toNextState)="toPayment($event);">
    </app-party-ordered>
    <app-party-payment *ngSwitchCase="4" [party]="party" [partyState]="partyState" [user]="user" [menus]="menus"
      [members]="members" (toNextState)="toFinish();">
    </app-party-payment>
    <div *ngSwitchDefault></div>
  </div>
  <div>
    <button mat-raised-button color="primary" routerLink="/lobby/">Lobby</button>
    <button mat-raised-button color="primary" *ngIf="partyState.id === partyId" (click)="leaveParty();">Leave</button>
  </div>
</div>
