.main {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  font-size: x-large;
}

.right {
  max-width: 30%;
}

.member-count {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
