<div *ngIf="party">
  <div>
    <h2>{{party.name}}</h2>
    <span>{{party.location}}</span>
    <span>{{party.memberCount}}</span>
  </div>
  <div [ngSwitch]="partyState.phase">
    <app-party-choosing-restaurant *ngSwitchCase="0"></app-party-choosing-restaurant>
    <app-party-choosing-menu *ngSwitchCase="1" [partyState]="partyState" [user]="user" [menus]="menus" (addMenu)="addMenu($event);"
      (updateMenu)="updateMenu($event);"></app-party-choosing-menu>
    <app-party-ordering *ngSwitchCase="2" [menus]="menus" [user]="user" [partyState]="partyState" (toNextState)="toOrdered($event);"></app-party-ordering>
    <app-party-ordered *ngSwitchCase="3"></app-party-ordered>
    <app-party-payment *ngSwitchCase="4"></app-party-payment>
    <div *ngSwitchDefault></div>
  </div>
  <div>
    <button routerLink="/lobby/">Lobby</button>
    <button *ngIf="partyState.id === partyId" (click)="leaveParty();">Leave</button>
  </div>
</div>
