version: 2

jobs:
  backend_test:
    docker:
      - image: circleci/python:3.6-stretch
    steps:
      - checkout
      - run:
          command: |
            sudo chown -R circleci:circleci /usr/local/bin
            sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - restore_cache:
          keys:
            - backend-deps-{{ .Branch }}-{{ checksum "backend/requirements.txt" }}-{{ checksum "backend/requirements.dev.txt" }}
            - backend-deps-{{ .Branch }}-
            - backend-deps-
      - run:
          name: Installing dependencies
          command: sudo pip install -r requirements.txt -r requirements.dev.txt
          working_directory: backend
      - save_cache:
          key: backend-deps-{{ .Branch }}-{{ checksum "backend/requirements.txt" }}-{{ checksum "backend/requirements.dev.txt" }}
          paths:
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
      - run:
          name: Migrating DB
          command: python manage.py migrate
          working_directory: backend
      - run:
          name: Running linter
          command: flake8 --config ./flake8
          working_directory: backend
      - run:
          name: Running unit tests
          command: coverage run --branch --source="./api" manage.py test
          working_directory: backend
      - run:
          name: Report coverage
          command: bash <(curl -s https://codecov.io/bash) -c -F backend
          working_directory: backend

  frontend_test:
    docker:
      - image: circleci/node:10-stretch-browsers
    steps:
      - checkout
      - restore_cache:
          keys:
            - frontend-deps-{{ .Branch }}-{{ checksum "frontend/package-lock.json" }}
            - frontend-deps-{{ .Branch }}-
            - frontend-deps-
      - run:
          name: Installing dependencies
          command: npm install
          working_directory: frontend
      - save_cache:
          key: frontend-deps-{{ .Branch }}-{{ checksum "frontend/package-lock.json" }}
          paths:
            - frontend/node_modules
      - run:
          name: Running linter
          command: npm run lint
          working_directory: frontend
      - run:
          name: Running unit tests
          command: npm run test -- --watch false --browsers ChromeHeadless
          working_directory: frontend
      - run:
          name: Report coverage
          command: bash <(curl -s https://codecov.io/bash) -c -F frontend

workflows:
  version: 2
  flow:
    jobs:
      - frontend_test:
          filters:
            branches:
              only:
                - master
                - frontend
                - /^frontend-.*/
      - backend_test:
          filters:
            branches:
              only:
                - master
                - backend
                - /^backend-.*/
