<div *ngIf="partyState !== undefined" class="center">
  <div class="margin">
    You have to pay {{totalCost}} to {{getUserNameById(partyState.paidUserId)}}
  </div>
  <div>
    <mat-list>
      <mat-list-item *ngFor="let myMenu of myMenus; last as last">
        <b>{{getMenuNameById(myMenu[0])}}</b> price: {{myMenu[1]}} quantity: {{myMenu[2]}}
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <button mat-raised-button color="warn" *ngIf="party.leaderId === user.id" (click)="toFinish();" class="margin">Finish</button>
</div>
