<div class="main">
  <mat-form-field class="full-width">
    <input matInput type="text" [(ngModel)]="emailInput" (keypress)="trySignUp($event);" placeholder="email" autofocus />
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="password" [(ngModel)]="passwordInput" (keypress)="trySignUp($event);" placeholder="password" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" [(ngModel)]="userNameInput" (keypress)="trySignUp($event);" placeholder="username" />
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="trySignUp(undefined);">Sign Up</button>
  </div>
</div>
