<h3 mat-dialog-title>Create New Party</h3>
  <section class="input">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="name" placeholder="Name">
    </mat-form-field>
    <div class="radio-group">
      <label class="radio">Type:</label>
        <mat-radio-group [(ngModel)]="type">
          <mat-radio-button class="radio" value="0">In Group</mat-radio-button>
          <mat-radio-button class="radio" value="1">Private</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="location" placeholder="Location">
    </mat-form-field>
  </section>
<div class="buttons" mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="tryCreateParty()">Create</button>
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
</div>
