.main {
  width: 40%;
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: xx-large;
}

mat-form-field {
  width: 100%;
  margin-top: 20px;
}

.sign-up {
  margin-top: 10px;
}
