.main {
  width: 40%;
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.title {
  font-size: xx-large;
}

.full-width {
  width: 100%;
}

.sign-up {
  margin-top: 10px;
}
