.align {
  display: flex;
  justify-content: flex-end;
}

.radio-button {
  margin-right: 10px;
  margin-bottom: 5px;
}

.restaurants {
  display: inline-flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 40vh;
  width: 100%;
}
