<div class="margin">
  <mat-accordion>
    <mat-expansion-panel (opened)="showAddObjectDialog = true"
                         (closed)="showAddObjectDialog = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="max-width">
          Add Restaurants
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-add-vote-object [restaurants]="restaurants" [loggedInUserId]="user.id"
                           (clickRestaurant)="clickRestaurant($event)">
      </app-add-vote-object>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-list class="width">
    <h2 mat-subheader class="width">Votes</h2>
    <mat-list-item *ngFor="let vote of votedRestaurants; last as last" class="width">
      <div class="align">
        <div>
          {{vote[2]}} | {{vote[1]}}
        </div>
        <div>
          <div *ngIf="confirmMode">
            <button mat-raised-button color="accent" (click)="clickRestaurant(vote[0]);">
              Confirm
            </button>
          </div>
          <div *ngIf="isVoted(vote[0]) && !confirmMode">
            <button mat-raised-button color="primary" (click)="clickRestaurant(vote[0]);">
              Unvote
            </button>
          </div>
          <div *ngIf="!isVoted(vote[0]) && !confirmMode">
            <button mat-raised-button color="primary" (click)="clickRestaurant(vote[0]);">
              Vote
            </button>
          </div>
        </div>
      </div>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
<div class="margin">
  <button mat-raised-button color="warn" *ngIf="amIPartyLeader && !confirmMode" (click)="toggleConfirmMode();">To Confirm Mode</button>
  <button mat-raised-button color="warn" *ngIf="amIPartyLeader && confirmMode" (click)="toggleConfirmMode();">To Vote Mode</button>
</div>

