<div>
  <ul>
    <li *ngFor="let vote of votedRestaurants">
      RestaurantName: {{vote[1]}}, Vote: {{vote[2]}}
      <span *ngIf="isVoted(vote[0])">
        <button (click)="votingRestaurant(vote[0],-1);">
          UNVOTE
        </button>
        </span>
      <span *ngIf="!isVoted(vote[0])">
        <button (click)="votingRestaurant(vote[0],1);">
          VOTE
        </button>
      </span>
    </li>
  </ul>
</div>

<button (click)="toggleAddObject();">Add Survey Component</button>
<app-add-vote-object *ngIf="showAddObjectDialog" [restaurants]="restaurants" [loggedInUserId]="user.id" (request)="requestAddObject($event);"
  (cancel)="cancelAddObject($event);">
</app-add-vote-object>
